/**********************TAG Selectors ***************/

body {
  background-color: #FEFFDE;
  text-align: center;
}


h1 {
  color: Black;
}


h3 {
  color: #1d35d6;
}

hr {
  border-style: none;
  border-top: dotted;
  width: 35%;
  border-color: #e37cff;
  border-width: 8px;
  height: 20px;
}

img {
  height: 280px;
}

p {
  font-size: 17px;
}

table {
  font-family: Cambria, Cambria;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


th, td {
  text-align: center;
  padding: 16px;
}

ul {
  list-style-type: square;
  text-align: center;
}


/************************* CLASS SELECTORS*********/


.Educations {

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: medium;
}

.gr:nth-child(even) {
  background-color: #9BA3EB;
}

.gr:nth-child(odd) {
  background-color: #6998AB;
}

.intro {
  border-radius: 25px;
  border: 2px solid #5C2E7E;
  padding: 20px;
  width: 95%;
  height: 5%;
  background-color: #DFF6FF;
}

.Traning {
  width: 50%;
}


/**************ID SELECTORS******/




/**********PSUDEO SELECTORS*********/


h1:hover {
  color: White;
}


body:hover {
  background-color: #CADEFC;
  text-align: center;
}

.Contact{
  cursor: pointer;
}

.intro:hover {
background-color: #000000;
color: green;
}
